
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('src/Anton-Regular.ttf');

@font-face {
    font-family: "anton";
    src: url('src/Anton-Regular.ttf');
}

.container{
    width:900px;
    height:100%;
    margin-left: auto;
    margin-right:auto;
    font-family: anton;
}

/* LINK */
.GroupLink{
    display: flex;
   justify-content: flex-end;
}

.GroupeLinkA{
    padding:10px;
    background-color: black;
    color:white;
    text-transform: uppercase;
    margin-left: 5px;
    text-decoration: none;
}

/* image */
.imgDivImage{
    width:100%;
}

.DivImage{
    border-top: 30px black solid;
}

/* SECTION 1 */
.section1{
    display: flex;
    justify-content: center;
    margin-top:150px;
    
}

.section1Image{
    width: 300px;
    height:300px;
}

.img1{
    width: 300px;
    height:300px;
}

.section1P{
    padding:10px;
}
